:root {
  --branding-color: #0881a3;
  --secondary-color: #fde9df;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 100%;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 42px;
  text-align: center;
}
h2 {
  font-size: 35px;
}
img {
  border-radius: 4px;
}

/* Navigation bar styling */

.logo {
  width: 50%;
  margin-right: auto;
  cursor: pointer;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}
nav .logo {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
nav ul {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 0;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav li a {
  color: #1b262c;
  text-decoration: none;
}
nav li a:hover,
nav li.active a {
  color: var(--branding-color);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

/* Header styling */

header img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

/* Main section styling */

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  background: var(--secondary-color);
  border-radius: 10px;
}

/* Sidebar styling */

aside {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 30px;
  border: solid 1px var(--branding-color);
  border-radius: 10px;
  background: white;
}
aside button {
  display: inline-block;
  color: var(--branding-color);
  background: var(--secondary-color);
}
aside p {
  font-size: 15px;
  text-align: center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 15px 0;
}
.social-links a {
  margin: 5px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 5px 9px;
  font-size: 16px;
  border-radius: 10%;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border: solid 1px var(--branding-color);
}
.social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
.search-form {
  margin: 60px 10px;
}
.search-form input {
  border: 1px solid var(--branding-color);
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 80%;
  -webkit-appearance: none;
}
.search-form button {
  float: left;
  width: 20%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid var(--branding-color);
  border-left: none;
  cursor: pointer;
}
.search-form button:hover {
  background: var(--branding-color);
  color: white;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.search-form::after {
  content: "";
  clear: both;
  display: table;
}

aside .ad-widget {
  display: block;
  margin: 40px auto 30px;
  width: 85%;
}
aside .widget-3 {
  margin: 20px auto 20px;
}

/* Main content styling for all pages */

article {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 0 15px 15px 15px;
}

section {
  overflow: hidden;
  background: white;
  padding: 15px;
  border: solid 1px var(--branding-color);
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Homepage main content styling */

.top-article-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
}

.small-photo {
  width: 24%;
}
.btn-branding {
  background: var(--branding-color);
  border-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 25px;
  padding: 10px 25px;
  float: right;
}
.btn-branding:hover {
  color: var(--branding-color);
  background: white;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.btn-branding-outline {
  background: white;
  border-radius: 4px;
  color: var(--branding-color);
  border-color: var(--branding-color);
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 25px;
  padding: 10px 25px;
  float: none;
}
.btn-branding-outline:hover {
  cursor: pointer;
  color: white;
  border-color: var(--branding-color);
  background: var(--branding-color);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

/* Reviews page main content styling */

.destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.destination .small-photo {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.destination-info {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-align: center;
}
.destination .btn-branding {
  float: none;
}

/* Reviews page main content styling */

.reviews-article section {
  margin-bottom: 40px;
}

/* Feedback page main content styling */

.article-feedback h1,
.article-feedback h2,
.article-feedback p {
  text-align: center;
}
.container-feedback {
  padding: 20px;
}
.container-feedback:placeholder-shown {
  font-family: var(--default-font-family);
}

input,
select,
textarea {
  width: 85%;
  padding: 12px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  text-align: right;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.rate-experience-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.rate-experience-form div {
  padding: 0 30px;
  text-align: center;
}
.rate-experience-form label {
  padding: 0;
}

/* Contact page styling */

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 20px;
}
address {
  font-size: 18px;
  margin: 10px 30px;
}
.section-contacts h2 {
  font-size: 20px;
  text-align: center;
}
/* 
.contact-details {
  margin: 0 40px 20px;
} */

.mapouter {
  position: relative;
  text-align: right;
  height: 270px;
  width: 270px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 270px;
  width: 270px;
}

#gmap_canvas {
  width: 270px;
  height: 270px;
  border: none;
  margin: 0;
}

/* Footer styling */

footer {
  border-radius: 10px;
  text-align: center;
  margin: 30px 0;
  padding: 20px;
}
footer p {
  font-size: 15px;
}

/* Media queries */

@media (max-width: 1536px) {
  body {
    font-size: 90%;
  }

  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  label {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
}

.btn-branding {
  font-size: 15px;
  line-height: 22px;
  padding: 8px 20px;
}

@media (max-width: 1400px) {
  body {
    width: 100%;
    font-size: 80%;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 25px;
  }
  label {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  .ad-widget {
    margin: 40px 35px 20px;
  }
  .widget-2 {
    display: none;
  }
  .contacts {
    padding: 42px 20px;
  }
}

@media (max-width: 1296px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 23px;
  }
  label {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  aside {
    margin: 30px 15px;
  }
  .contacts {
    padding: 45px 20px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 65%;
  }
  aside {
    display: none;
  }
  header img {
    height: 120px;
  }
  footer p {
    font-size: 12px;
  }
  .btn-branding {
    font-size: 12px;
    line-height: 15px;
    padding: 11px 13px;
  }

  mapouter {
    position: relative;
    text-align: right;
    height: 240px;
    width: 240px;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 240px;
    width: 240px;
  }

  #gmap_canvas {
    width: 240px;
    height: 240px;
    border: none;
    margin: 0;
  }
  address {
    font-size: 15px;
  }

  .section-contacts h2 {
    font-size: 18px;
  }
  .section-contacts {
    padding: 15px 5px;
  }
  .contacts {
    padding: 30px 5px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 60%;
  }
  header img {
    height: 100px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  label {
    font-size: 13px;
  }
  p {
    font-size: 13px;
  }
  nav .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  nav ul {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
  }
  .logo {
    width: 100%;
  }
  input,
  select,
  textarea {
    font-size: 13px;
  }

  .destination .small-photo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .destination-info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
    text-align: center;
  }

  .contacts {
    padding: 50px 0px;
    text-align: center;
  }
  .mapouter {
    display: none;
  }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
  }
}
@media (max-width: 415px) {
  body {
    font-size: 55%;
  }
  .logo {
    display: none;
  }

  header img {
    display: none;
  }

  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 18px;
    text-align: center;
    margin: 0 5px 10px 5px;
  }
  .btn-branding {
    font-size: 10px;
    line-height: 10px;
    padding: 7px 9px;
  }
  .top-article-photos {
    display: none;
  }
  .index-article p {
    text-align: justify;
    text-justify: inter-word;
  }

  .btn-reviews {
    margin: 0 auto;
    display: block;
  }
  .col-25,
  .col-75,
  .container-feedback input,
  .container-feedback select,
  .container-feedback textarea {
    width: 95%;
    margin-top: 0;
    padding: 5px 0px 5px 12px;
  }
  .col-25 {
    text-align: left;
  }
  .article-feedback label {
    padding: 0;
  }
  .section-contacts h2 {
    font-size: 15px;
  }
  .feedback {
    padding: 0;
  }
  address {
    font-size: 12px;
  }
}

@media (max-width: 325px) {
  body {
    font-size: 45%;
  }
  h1 {
    font-size: 17px;
  }
  h2 {
    font-size: 13px;
  }
  p {
    font-size: 10px;
  }
  .container-feedback {
    padding: 10px 5px;
  }
  .section-contacts h2 {
    display: none;
  }
  .contacts {
    padding: 0;
  }
  label {
    font-size: 10px;
  }
  address {
    padding: 10px 15px;
    margin: 0;
  }
}
